@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #ECEEF1;
    font-family: 'Montserrat', sans-serif;
}

.width_100 {
    width: 100%;
}

.flex-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}